mat-sidenav-content{
    display: flex;
    justify-content: center;
  }
  mat-icon{
    position: absolute;
    height: 100%; 
    justify-content: center;
    z-index: 1; 
}
.station-part{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 50%;
    cursor: pointer;
  }
  .station-part-small{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    cursor: pointer;
    row-gap: 10px;
  }
  .depart-from{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    z-index: 1;
    border-radius: 10px 0 0 10px;
  }
  .depart-from-small{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
  }
  .go-to{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    z-index: 1;
    border-radius: 0 10px 10px 0;
  }
  .go-to-small{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
  }
  .depart-from, .go-to{
    width: 100%;
    height: 100%; 
    border: solid 1px black;
    padding-left: 10%;
    padding-top: 1%;
    line-height: 60%;
    background-color: white;
  }
  .depart-from-small, .go-to-small{
    width: 100%;
    height: 100%; 
    border: solid 1px black;
    padding-left: 10%;
    padding-top: 1%;
    line-height: 60%;
    background-color: white;
  }
  .station-part-2{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    z-index: 2;
    justify-content: center;
    align-items: center;
  }
  .station-part-2-small{
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    z-index: 2;
    justify-content: center;
    align-items: center;
  }
  .station-part-2 > mat-icon{
    height: 23px;
    z-index: inherit;
  }
  .station-part-2-small > mat-icon{
    height: 30px;
    width: 30px;
    font-size: 30px;
    z-index: inherit;
  }
  .main-station{
    background-image: linear-gradient(to right,rgba(104, 114, 226, 0),rgba(231, 154, 54, 0),rgba(229, 229, 67, 0)),
    url(".\..\..\..\..\assets\img\train_background.jpg");
    background-position: center;
    background-size: cover;
  }