<div class="row-12 w-100" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div>
        <p style=" font-size: 200%; margin-bottom: 0;">Departing from</p> 
        <p style="font-weight: bolder; font-size: 250%; margin-bottom: 0;">
            {{from}}
            to
            {{to}}
        </p>
        <p style="margin-bottom: 0;">{{plannedDateLeave}}</p>
    </div>
    <mat-card (click)="chooseSeat(chosenTrip)" *ngFor="let chosenTrip of chosenTrips"  >
        <mat-card-title><p><span style="font-size: 130%; ">{{chosenTrip.departureTime.split('T')[1]}}</span> <span style="color: green;">{{statusTime}}</span></p> <p style="font-size: 150%;">{{chosenTrip.trainName}}</p> </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p style="font-size: 300%; font-weight: bolder;">{{to}} </p>
            <p>Calling at {{from}} </p>
            <p style="display: flex; justify-content: flex-end; color: rgb(48, 156, 156);"><span style="display: block;">Journey Details</span> <mat-icon style="display: flex; align-items: center;">chevron_right</mat-icon></p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer >
            <p style="height: 100%; display: flex; align-items: center;">{{statusSeat}}</p>
        </mat-card-footer>
    </mat-card>
  </div>
