<!-- <button (click)="testModal()">Test Success Modal</button> -->
<div class="page-content">
    <div class="container-xl">
        <div class="page-header d-print-none mb-5">
            <div class="row align-items-center">
                <div class="col-auto">
                    <span class="status-indicator status-blue status-indicator-animated">
                        <span class="status-indicator-circle"></span>
                        <span class="status-indicator-circle"></span>
                        <span class="status-indicator-circle"></span>
                    </span>
                </div>
                <div class="col">
                    <h2 class="page-title">
                        Route & Station
                    </h2>
                    <div class="text-muted">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item page-pretitle">Overview</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <a class="btn btn-primary" href="javascript:void(0)" (click)="showAddRouteModal(addNewRoute)">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-invoice"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                <path d="M9 7l1 0"></path>
                                <path d="M9 13l6 0"></path>
                                <path d="M13 17l2 0"></path>
                            </svg>
                            Create New Route
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-deck row-cards">
                    <div class="table-responsive">
                        <div *ngIf="!isLoadRoute" class="container container-slim py-4 col-3">
                            <div class="text-center">
                                <div class="text-muted mb-3">Loading data . . . </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar progress-bar-indeterminate"></div>
                                </div>
                            </div>
                        </div>
                        <table *ngIf="isLoadRoute" class="table table-vcenter">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Ga Khởi Hành</th>
                                    <th>Ga Đích</th>
                                    <th>Giá Phổ Thông</th>
                                    <th class="w-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let route of Routes">
                                    <td>{{ route.routeName }}</td>
                                    <td class="text-muted">
                                        {{ route.departureStation }}
                                    </td>
                                    <td class="text-muted">
                                        {{ route.destinationStation }}
                                    </td>
                                    <td class="text-muted">
                                        {{ route.routeFare | currency:'VND' }}
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" (click)="showRouteDetail(RouteDetail, route)"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addNewRoute let-c="close" let-d="dismiss">
    <form [formGroup]="addRouteForm" (submit)="addRoute()">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Route</h5>
                <button type="button" class="btn-close" (click)="d('Cross Click')"> </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Route Name</label>
                    <div
                        [class.error]="addRouteForm.controls['RouteName'].dirty && addRouteForm.hasError('required', 'RouteName')">
                        <input type="text" formControlName="RouteName" class="form-control"
                            placeholder="Enter Route Name" required="" />
                    </div>
                    <small
                        *ngIf="addRouteForm.controls['RouteName'].dirty && addRouteForm.hasError('required', 'RouteName')"
                        class="text-danger">*Route Name is required</small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Departure Station</label>
                    <select class="form-select" formControlName="DepartureStation">
                        <option *ngFor="let station of Stations" [value]="station.id">{{ station.stationName }}
                        </option>
                    </select>
                    <small
                        *ngIf="addRouteForm.controls['DepartureStation'].dirty && addRouteForm.hasError('required', 'DepartureStation')"
                        class="text-danger">*Departure Station is required</small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Destination Station</label>
                    <select class="form-select" formControlName="DestinationStation">
                        <option *ngFor="let station of Stations" [value]="station.id">{{ station.stationName }}
                        </option>
                    </select>
                    <small
                        *ngIf="addRouteForm.controls['DestinationStation'].dirty && addRouteForm.hasError('required', 'DestinationStation')"
                        class="text-danger">*Destination Station is required</small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input type="text" class="form-control" formControlName="Description"
                        placeholder="Enter Description" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Route Fare</label>
                    <input type="number" class="form-control" formControlName="RouteFare"
                        placeholder="Enter RouteFare" />
                    <small
                        *ngIf="addRouteForm.controls['RouteFare'].dirty && addRouteForm.hasError('required', 'RouteFare')"
                        class="text-danger">*Route Fare is required</small>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" (click)="resetAddForm()" class="btn btn-link link-secondary"
                    data-bs-dismiss="modal">
                    Reset
                </a>
                <button class="btn btn-primary ms-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M5 12l14 0"></path>
                    </svg>
                    Add
                </button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #RouteDetail let-c="close" let-d="dismiss">
    <form [formGroup]="editRouteForm" (submit)="editRoute()">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Route Infomation</h5>
                <button type="button" class="btn-close" (click)="d('Cross Click')"> </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Route Name</label>
                    <div
                        [class.error]="editRouteForm.controls['RouteName'].dirty && editRouteForm.hasError('required', 'RouteName')">
                        <input type="text" formControlName="RouteName" class="form-control"
                            placeholder="Enter Route Name" required="" />
                    </div>
                    <small
                        *ngIf="editRouteForm.controls['RouteName'].dirty && editRouteForm.hasError('required', 'RouteName')"
                        class="text-danger">*Route Name is required</small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Departure Station</label>
                    <select class="form-select" (change)="selectDepartureStation($event)">
                        <option *ngFor="let station of Stations" [value]="station.id"
                            [selected]="station.id == routeDetail.departureStationId">{{ station.stationName }}
                        </option>
                    </select>
                    <small
                        *ngIf="editRouteForm.controls['DepartureStation'].dirty && editRouteForm.hasError('required', 'DepartureStation')"
                        class="text-danger">*Departure Station is required</small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Destination Station</label>
                    <select class="form-select" (change)="selectDestinationStation($event)">
                        <option *ngFor="let station of Stations" [value]="station.id"
                            [selected]="station.id == routeDetail.destinationStationId">{{ station.stationName }}
                        </option>
                    </select>
                    <small
                        *ngIf="editRouteForm.controls['DestinationStation'].dirty && editRouteForm.hasError('required', 'DestinationStation')"
                        class="text-danger">*Destination Station is required</small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input type="text" class="form-control" formControlName="Description"
                        placeholder="Enter Description" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Route Fare</label>
                    <input type="number" class="form-control" formControlName="RouteFare"
                        placeholder="Enter RouteFare" />
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" (click)="resetEditForm()" class="btn btn-link link-secondary"
                    data-bs-dismiss="modal">
                    Reset
                </a>
                <button class="btn btn-primary ms-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M5 12l14 0"></path>
                    </svg>
                    Save
                </button>
            </div>
        </div>
    </form>
</ng-template>