<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Railway dashboard</title>
</head>
<body>
    <mat-toolbar >
      <mat-toolbar-row style="display: flex; justify-content: center;" *ngIf="!lessthan">
          <img src=".\..\assets\img\train1.png" class="img-fluid h-100" alt="train" style="cursor:pointer;"(click)="gotoTrainDetails()" >
          <mat-tab-group [color]="'warn'">
            <mat-tab label="Buy ticket"></mat-tab>
            <mat-tab label="Stations"></mat-tab>
            <mat-tab label="Refund"></mat-tab>
            <mat-tab label="Reservation Information"></mat-tab>
          </mat-tab-group>
      </mat-toolbar-row>
      <mat-toolbar-row style="display: flex; justify-content: center; align-items: center;" *ngIf="lessthan">
        <button  mat-icon-button (click)="sidenav.toggle()" >
          <mat-icon *ngIf="!sidenav.opened" class="top-0 start-0 w-100 h-100 " style="display: flex; align-items: center; justify-content: center;"> menu </mat-icon>
          <mat-icon *ngIf="sidenav.opened"  class="top-0 start-0 w-100 h-100 " style="display: flex; align-items: center; justify-content: center;"> close </mat-icon>
        </button>
        <img src=".\..\assets\img\train1.png" class="img-fluid h-100 w-75" alt="train" style="cursor:pointer;">
      </mat-toolbar-row>
    </mat-toolbar>
    <!--sidebar-->
    <mat-sidenav-container >
      <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button mat-button class="menu-button" routerLink="/home">
      <img src=".\..\assets\img\tickets.svg" style="max-width: 30px; height: auto; margin-right: 10px;" alt="" >
      <span>Buy ticket</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/profile">
      <img src=".\..\assets\img\station.png" style="max-width: 30px; height: auto; margin-right: 10px;" alt="" >
      <span>Station</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/about">
      <img src=".\..\assets\img\refund.png" style="max-width: 30px; height: auto; margin-right: 10px;" alt="" >
      <span>Refund</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/help">
      <img src=".\..\assets\img\seat.png" style="max-width: 30px; height: auto; margin-right: 10px;" alt="" >
      <span>Reservation Information</span>
    </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    </mat-sidenav-container>
</body>
</html>
