<div class="page-content">
    <div class="container-xl">
        <div class="page-header d-print-none mb-5">
            <div class="row align-items-center">
                <div class="col-auto">
                    <span class="status-indicator status-blue status-indicator-animated">
                        <span class="status-indicator-circle"></span>
                        <span class="status-indicator-circle"></span>
                        <span class="status-indicator-circle"></span>
                    </span>
                </div>
                <div class="col">
                    <h2 class="page-title">
                        Bảng Tổng Hợp
                    </h2>
                    <div class="text-muted">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item page-pretitle">Overview</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <a class="btn btn-primary" id="show-original-bill-option" onclick="showDefaultTable(this);">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-invoice"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                <path d="M9 7l1 0"></path>
                                <path d="M9 13l6 0"></path>
                                <path d="M13 17l2 0"></path>
                            </svg>
                            Mặc Định
                        </a>
                        <a class="btn" id="show-wdr-bill-option" onclick="showCustomTable(this);">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-table-plus"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12.5 21h-7.5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5"></path>
                                <path d="M3 10h18"></path>
                                <path d="M10 3v18"></path>
                                <path d="M16 19h6"></path>
                                <path d="M19 16v6"></path>
                            </svg>
                            Tự chọn
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-deck row-cards">
                    <div class="table-responsive">
                        <table class="table table-vcenter">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Title</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th class="w-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Paweł Kuna</td>
                                    <td class="text-muted">
                                        UI Designer, Training
                                    </td>
                                    <td class="text-muted"><a href="#" class="text-reset">paweluna@howstuffworks.com</a>
                                    </td>
                                    <td class="text-muted">
                                        User
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jeffie Lewzey</td>
                                    <td class="text-muted">
                                        Chemical Engineer, Support
                                    </td>
                                    <td class="text-muted"><a href="#" class="text-reset">jlewzey1@seesaa.net</a>
                                    </td>
                                    <td class="text-muted">
                                        Admin
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mallory Hulme</td>
                                    <td class="text-muted">
                                        Geologist IV, Support
                                    </td>
                                    <td class="text-muted"><a href="#" class="text-reset">mhulme2@domainmarket.com</a>
                                    </td>
                                    <td class="text-muted">
                                        User
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dunn Slane</td>
                                    <td class="text-muted">
                                        Research Nurse, Sales
                                    </td>
                                    <td class="text-muted"><a href="#" class="text-reset">dslane3@epa.gov</a></td>
                                    <td class="text-muted">
                                        Owner
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Emmy Levet</td>
                                    <td class="text-muted">
                                        VP Product Management, Accounting
                                    </td>
                                    <td class="text-muted"><a href="#" class="text-reset">elevet4@senate.gov</a>
                                    </td>
                                    <td class="text-muted">
                                        Admin
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>