<div class="container compartment" >
    <div class="row">
        <div class="row h-50">
            <div class="col" [class]="seats[1]?'seat':'seat-change'"   (click)="changeValue(1)" >1</div>
            <div class="col" [class]="seats[5]?'seat':'seat-change'"   (click)="changeValue(5)">5</div>
            <div class="col" [class]="seats[9]?'seat':'seat-change'"   (click)="changeValue(9)">9</div>
            <div class="col" [class]="seats[13]?'seat':'seat-change'"  (click)="changeValue(13);">13</div>
            <div class="col" [class]="seats[17]?'seat':'seat-change'"  (click)="changeValue(17);">17</div>
            <div class="col" [class]="seats[21]?'seat':'seat-change'"  (click)="changeValue(21);">21</div>
            <div class="col" [class]="seats[25]?'seat':'seat-change'"  (click)="changeValue(25);">25</div>
            <div class="col" [class]="seats[29]?'seat':'seat-change'"  (click)="changeValue(29);">29</div>
            <div class="sub-seat"></div>
            <div class="col" [class]="seats[33]?'seat':'seat-change'"  (click)="changeValue(33);">33</div>
            <div class="col" [class]="seats[37]?'seat':'seat-change'"  (click)="changeValue(37);">37</div>
            <div class="col" [class]="seats[41]?'seat':'seat-change'"  (click)="changeValue(41);">41</div>
            <div class="col" [class]="seats[45]?'seat':'seat-change'"  (click)="changeValue(45);">45</div>
            <div class="col" [class]="seats[49]?'seat':'seat-change'"  (click)="changeValue(49);">49</div>
            <div class="col" [class]="seats[53]?'seat':'seat-change'"  (click)="changeValue(53);">53</div>
            <div class="col" [class]="seats[57]?'seat':'seat-change'"  (click)="changeValue(57);">57</div>
        </div>
        <div class="row h-50">
            <div class="col" [class]="seats[2]?'seat':'seat-change'"  (click)="changeValue(2)">2</div>
            <div class="col" [class]="seats[6]?'seat':'seat-change'"  (click)="changeValue(6)">6</div>
            <div class="col" [class]="seats[10]?'seat':'seat-change'"  (click)="changeValue(10);">10</div>
            <div class="col" [class]="seats[14]?'seat':'seat-change'"  (click)="changeValue(14);">14</div>
            <div class="col" [class]="seats[18]?'seat':'seat-change'"  (click)="changeValue(18);">18</div>
            <div class="col" [class]="seats[22]?'seat':'seat-change'"  (click)="changeValue(22);">22</div>
            <div class="col" [class]="seats[26]?'seat':'seat-change'"  (click)="changeValue(26);">26</div>
            <div class="col" [class]="seats[30]?'seat':'seat-change'"  (click)="changeValue(30);">30</div>
            <div class="sub-seat-out-1"></div>
            <div class="col" [class]="seats[34]?'seat':'seat-change'"  (click)="changeValue(34);">34</div>
            <div class="col" [class]="seats[38]?'seat':'seat-change'"  (click)="changeValue(38);">38</div>
            <div class="col" [class]="seats[42]?'seat':'seat-change'"  (click)="changeValue(42);">42</div>
            <div class="col" [class]="seats[46]?'seat':'seat-change'"  (click)="changeValue(46);">46</div>
            <div class="col" [class]="seats[50]?'seat':'seat-change'"  (click)="changeValue(50);">50</div>
            <div class="col" [class]="seats[54]?'seat':'seat-change'"  (click)="changeValue(54);">54</div>
            <div class="col" [class]="seats[58]?'seat':'seat-change'"  (click)="changeValue(58);">58</div>
        </div>
    </div>
    <div class="row">
        <div class="row h-15">
            <div class="col" [class]="seats[3]?'seat':'seat-change'"  (click)="changeValue(3)">3</div>
            <div class="col" [class]="seats[7]?'seat':'seat-change'"  (click)="changeValue(7)">7</div>
            <div class="col" [class]="seats[11]?'seat':'seat-change'"  (click)="changeValue(11);">11</div>
            <div class="col" [class]="seats[15]?'seat':'seat-change'"  (click)="changeValue(15);">15</div>
            <div class="col" [class]="seats[19]?'seat':'seat-change'"  (click)="changeValue(19);">19</div>
            <div class="col" [class]="seats[23]?'seat':'seat-change'"  (click)="changeValue(23);">23</div>
            <div class="col" [class]="seats[27]?'seat':'seat-change'"  (click)="changeValue(27);">27</div>
            <div class="col" [class]="seats[31]?'seat':'seat-change'"  (click)="changeValue(31);">31</div>
            <div class="sub-seat-out-2"></div>
            <div class="col" [class]="seats[35]?'seat':'seat-change'"  (click)="changeValue(35);">35</div>
            <div class="col" [class]="seats[39]?'seat':'seat-change'"  (click)="changeValue(39);">39</div>
            <div class="col" [class]="seats[43]?'seat':'seat-change'"  (click)="changeValue(43);">43</div>
            <div class="col" [class]="seats[47]?'seat':'seat-change'"  (click)="changeValue(47);">47</div>
            <div class="col" [class]="seats[51]?'seat':'seat-change'"  (click)="changeValue(51);">51</div>
            <div class="col" [class]="seats[55]?'seat':'seat-change'"  (click)="changeValue(55);">55</div>
            <div class="col" [class]="seats[59]?'seat':'seat-change'"  (click)="changeValue(59);">59</div>
        </div>
        <div class="row h-15">
            <div class="col" [class]="seats[4]?'seat':'seat-change'"  (click)="changeValue(4)">4</div>
            <div class="col" [class]="seats[8]?'seat':'seat-change'"  (click)="changeValue(8)">8</div>
            <div class="col" [class]="seats[12]?'seat':'seat-change'"  (click)="changeValue(12);">12</div>
            <div class="col" [class]="seats[16]?'seat':'seat-change'"  (click)="changeValue(16);">16</div>
            <div class="col" [class]="seats[20]?'seat':'seat-change'"  (click)="changeValue(20);">20</div>
            <div class="col" [class]="seats[24]?'seat':'seat-change'"  (click)="changeValue(24);">24</div>
            <div class="col" [class]="seats[28]?'seat':'seat-change'"  (click)="changeValue(28);">28</div>
            <div class="col" [class]="seats[32]?'seat':'seat-change'"  (click)="changeValue(32);">32</div>
            <div class="sub-seat"></div>
            <div class="col" [class]="seats[36]?'seat':'seat-change'"  (click)="changeValue(36);">36</div>
            <div class="col" [class]="seats[40]?'seat':'seat-change'"  (click)="changeValue(40);">40</div>
            <div class="col" [class]="seats[44]?'seat':'seat-change'"  (click)="changeValue(44);">44</div>
            <div class="col" [class]="seats[48]?'seat':'seat-change'"  (click)="changeValue(48);">48</div>
            <div class="col" [class]="seats[52]?'seat':'seat-change'"  (click)="changeValue(52);">52</div>
            <div class="col" [class]="seats[56]?'seat':'seat-change'"  (click)="changeValue(56);" >56</div>
            <div class="col" [class]="seats[60]?'seat':'seat-change'"  (click)="changeValue(60);">60</div>
        </div>
    </div>
</div>
