.seat{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
}
.seat-change{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
    background-color: aquamarine;
}
.sub-seat{
    height: 100%;
    width: 25px;
    background-color: rgb(103, 39, 39);
}
.sub-seat-out-1{
    height: 100%;
    width: 25px;
    background-color: rgb(103, 39, 39);
    border-radius: 0 0 10px 10px;
}
.sub-seat-out-2{
    height: 100%;
    width: 25px;
    background-color: rgb(103, 39, 39);
    border-radius: 10px 10px 0 0;
}
/* 3 tier AC */
.seat-odd{
    border-right: 3px solid black;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.seat-even{
    border-left: 3px solid black;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.seat-3AC-even-change{
    border-left: 3px solid black;
    margin-right: 10px;
    text-align: center;
    color: orange;
    cursor: pointer;
    user-select: none;
}
.seat-3AC-odd-change{
    border-right: 3px solid black;
    margin-left: 10px;
    text-align: center;
    color: orange;
    cursor: pointer;
    user-select: none;
}
.booked-seat{
    pointer-events: none;
    opacity: 0.5;
}
.common-bagcolor-upper{
    background-color: yellow;
    border-top: 5px solid black;
}
.common-bagcolor-middle{
    background-color: rgb(228, 34, 137);
}
.common-bagcolor-lower{
    background-color: aqua;
}
.common-bagcolor-side-upper{
    background-color: plum;
    border-bottom: 5px solid black;
}
.common-bagcolor-side-lower{
    background-color: rgb(35, 199, 87);
    border-bottom: 5px solid black;
}
.compartment{
    height: 300px; 
    border: 3px solid red; 
    border-radius: 20px; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}